TELEGRAM_BOT_TOKEN=
BOT_USERNAME=monad_blitz_bot
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_CHAIN_ID=10143
DEPLOYER_ADDRESS=
DEPLOYER_PRIVATE_KEY=
TOKEN_ADDRESS=
DATABASE_URL=file:./local.db
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
MINI_APP_URL=

MASTER_WALLET_SEED=
USER_BLITZ_GRANT=10000
USER_MON_GRANT=0
NADGAMES_ADDRESS=
NADMOVES_ADDRESS=
PAYMASTER_ADDRESS=
BUNDLER_RPC_URL=https://public.pimlico.io/v2/10143/rpc
GAME_WAGER=100
GAME_WAGER_MIN=10
GAME_WAGER_MAX=1000
VITE_WAGER_MIN=10
VITE_WAGER_MAX=1000
VITE_WAGER_DEFAULT=100
