TELEGRAM_BOT_TOKEN=
BOT_USERNAME=monad_blitz_bot
MONAD_RPC_URL=https://testnet-rpc.monad.xyz
MONAD_CHAIN_ID=10143
DEPLOYER_ADDRESS=
DEPLOYER_PRIVATE_KEY=
TOKEN_ADDRESS=
DATABASE_URL=file:./local.db
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=
MINI_APP_URL=

MASTER_WALLET_SEED=
USER_BLITZ_GRANT=10000
USER_MON_GRANT=0.1
